@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto;
}

:root {
    --progress-bar: 0%;
}

.tv {
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
}

.divide {
    display: flex;
    flex: 1;
    min-height: 0;
    gap: 20px;
    width: 100%;
}

.schoolLogo {
    width: 56px;
}

.today {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.day {
    font-size: 2rem;
}

.monthDate {
    font-size: 2rem;
    font-weight: 300;
}

.time {
    font-size: 2rem;
    font-weight: 300;
}

.widgets {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 1 auto;
    min-height: 0;
}

.stats {
    width: 100%;
    background-color: hsla(0, 0%, 99%, 1);
    border: 1px solid hsla(0, 0%, 84%, 1);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.countdown {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.percentComplete {
    text-align: right;
}

.percent {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}



.weather {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: clip;
    color: #fff;
    flex: 1;
}

.hiLo {
    display: flex;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px 5px 5px;
    border-radius: 20px;
    width: fit-content;
    color: #dbdbdb;
}

.hiLo span {
    display: flex;
    align-items: center;
}

.spaceBetween {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.weatherDetails {
    /* height: 100%; */
    display: flex;
    align-items: center;
}

.weatherAlpha {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #dbdbdb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weatherIconText {
    display: flex;
    gap: 10px;
    align-items: center;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); */
}

.weatherData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

.weatherImage {
    width: 100%;
    height: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
}

.temp {
    font-size: 3.5rem;
    font-weight: 500;
}

.degrees {
    font-size: 1.5rem;
    vertical-align: text-top;
    line-height: 3rem;
}

.lunch {
    background-color: hsla(0, 0%, 99%, 1);
    border: 1px solid hsla(0, 0%, 84%, 1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.lunchPicture {
    width: 100%;
    object-fit: cover;
    object-position: center;
    flex: 1 1 0;
    min-height: 0;
}

.lunchText {
    padding: 15px;
    flex: 0 0 auto;
}

.lunchStatic {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.meal {
    font-size: 1.2rem;
}





.schedAnn {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schedule {
    width: 100%;
}

.blocks {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    max-height: 30vh;
}

.block {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: hsla(0, 0%, 16%, 1);
    color: #fff;
    font-size: 3.5rem;
    position: relative;
    word-break: break-all;
}

.blockTime {
    position: absolute;
    bottom: 8%;
    font-size: 1rem;
    font-weight: 400;
}

.blockMeets {
    position: absolute;
    top: 8%;
    font-size: 1rem;
    font-weight: 400;
}

.progress {
    width: var(--progress-bar);
    height: 10px;
    border-radius: 5px;
    background-color: hsla(0, 100%, 39%, 1);
}

.progressOutline {
    width: 100%;
    border: 1px solid hsla(0, 0%, 84%, 1);
    border-radius: 7px;
}

.annTag {
    display: flex;
    align-items: center;
}

.annStatic {
    width: 250px;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 6px;
    padding: 8px 0;
    background-color: hsla(0, 100%, 39%, 1);
}

.annFraction {
    background-color: hsla(0, 0%, 17%, 1);
    color: #fff;
    padding: 7px 10px 7px 14px;
    margin-left: -6px;
    z-index: -1;
    border-radius: 0 6px 6px 0;
}

.caughtUp {
    display: flex;
    width: 100%;
    height: 100%;
    font-style: italic;
    font-size: 1.5rem;
    color: #7C7C7C;
    justify-content: center;
    align-items: center;
}

.announcement {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #D6D6D6;
    background: #FBFBFB;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.fullAnn {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
}

.annText {
    display: flex;
    gap: 15px;
    flex-direction: column;
    text-overflow: ellipsis;
}

.annOrganization {
    font-weight: bold;
}

.cost {
    font-size: 1.4rem;
    background-color: #118c4f;
    color: #fff;
    padding: 5px 15px 5px 10px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    width: fit-content;
    font-weight: 300;
}

.coin {
    width: 20px;
}

/* schedule spinner */

.load {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    position: relative;
    margin-bottom: 12px;
    border: 1px solid hsla(0, 0%, 84%, 1);
    border-radius: 10px;
    /* border: 1px solid #000; */
}

.aspen {
    width: 15px;
    position: absolute;
}

.loader {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #10509b 94%, #0000) top/2px 2px no-repeat,
        conic-gradient(#0000 30%, #10509b);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    100% {
        transform: rotate(1turn);
    }
}