ul {
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    padding-inline-start: 30px;
}

hr {
    margin-bottom: 10px;
}

.space {
    display: flex;
    flex-direction: column;
    gap: 15px;
}